---
BasedOnStyle: Google
AlignAfterOpenBracket: DontAlign
AlignOperands: false
AlignTrailingComments: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: WithoutElse
AlwaysBreakBeforeMultilineStrings: false
ColumnLimit: 100
ConstructorInitializerAllOnOneLineOrOnePerLine: false
IndentCaseLabels: false
...
