.idea/
*egg-info/
dist/
cmake-build-*/
build/
out/
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.fsx
*.fsb
autoroute_*/
gerbers/
*.fsxview
*.fsproj
*.pyc
*~
_autosave-*
*.tmp
*-cache.lib
*-rescue.lib
*-save.pro
*-save.kicad_pcb
*.net
*.dsn
*.ses
pdfs/
*.bin
obj_dir/
verymeme/verilog/result*
